.cfdb7 .extension {
    width: 29.7%;
    border: 1px #888 solid;
    padding: 7px;
    margin: 5px;
    float: left;
    text-align: center;
    min-height: 330px;
}
.cfdb7 h3{
	text-align: center;
}
.cfdb7 .button{
	text-align: center;
}
.cfdb7-panel{
    position: relative;
    overflow: auto;
    margin: 16px 0;
    padding: 23px 10px 0;
    border: 1px solid #c3c4c7;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    font-size: 13px;
    line-height: 1.7;
    padding-bottom:15px
}
.cfdb7-panel-content{
    margin-left: 15px;
}
.cfdb7-panel-content h3{
    margin-top: 0;
}


@media (max-width: 767.98px) { 
    .cfdb7 .extension{
        width:93%;
    }
}


